.list{
    display: grid;
    grid-template-columns: 350px 350px 350px ;
    background: url('../../img/1234.jpg'); 
   background-size: 100%;
    padding: 150px 0px 0px 115px; 
  }
  .par {
    font-size: 15px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none !important;
    color:rgb(124, 124, 124);
    display: block;
    box-shadow: 0;
    border-radius: 20%;
    font-family:monospace;
  
  }
  .searchbar{
    background:url('../../img/black_barbed_wire_red_74541_2048x1152.jpg');
    background-repeat: repeat-x;
    height: 240px;
  }
  .input{
    font-size: 20px;
    border-radius: 20px;
    margin: 100px 0px 70px 470px ;
  }
  .input2{
    font-size: 20px;
    border-radius: 25px;
  }
  h1{
    text-align: center;
  }
  .img{
    width: 200px;
    margin-left: 575px;
    margin-top: -50px;
    position: absolute;
  }
  .head{
    position: absolute;
    width: 1263px;
    height:80px;
    background-color: rgb(202, 0, 0);
  }